:root {
  --primary-color: #043c09;
  --accent-color: #0d9367;
  --background-color: #f4f4f4;
}

body {
  background-color: var(--background-color);
  font-family: 'Segoe UI', Arial , sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 0px;
  font-size: 25px;
}

h1,h2 {
  font-family: 'Gill Sans MT Ext Condensed Bold' , serif;
  color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--primary-color);
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

.card {
  background-color: white;
  padding: 30px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.card img {
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--primary-color);
  color: white;
}

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1f618d;
}

footer {
  text-align: center;
  padding: 30px;
  color: #000000;
}

@media (max-width:600px) {
  body {
    font-size: 14px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .card {
    padding: 15px;
    margin: 10px 0;
  }

  main {
    padding: 15px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.dark-mode{
  background-color: #1a1a1a;
  color: #f4f4f4;
}

.dark-mode .card {
  background-color: #2c2c2c;
  border-color: #444;
  color: #f4f4f4;
}

.dark-mode .navbar {
  background-color: #111;
}

.dark-mode h1,
.dark-mode h2 {
  color: #f4f4f4;
}

.dark-mode .footer {
  color: #aaa;
}

#dark-mode-btn {
  margin-top: 10px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

#dark-mode-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
